* {
	font-family: 'Karla', sans-serif;
}
body {
	padding: 0px;
	margin: 0px;
	background-color: #fafafa;
}
.gbgd_page_left {
	display: inline-block;
	position: fixed;
	width: 160px;
	height: 100%;
	background-color: #eee;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	overflow-y: scroll;
}
.gbgd_page_left::-webkit-scrollbar { 
	display: none;
}
.gbgd_page_right {
	display: inline-block;
	width: calc(100% - 390px);
	margin-left: 200px;
	padding-left: 100px;
}


.gbgd_emaillink {
	color: #fff;
	font-size: 16px;
	background-color: rgba(0,0,0,0.66);
	font-weight: 700;
	padding: 20px 10px 20px 10px;
	width: calc(100% - 420px);
	text-align: center;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	text-decoration: none;
	margin: 0 auto;
	display: none;

}
.gbgd_emaillink:hover {
	cursor: pointer;
	background-color: #44f;
}
.gbgd_whticon_sm {
	margin-left: 6px;
	height: 16px;
	position: relative;
	top: 2px;
}

.gbgd_nav_c {
	margin-bottom: 20px;
}
.gbgd_nav_link {
	text-decoration: none;
	color: #000;
}
.gbgd_nav_link:visited {
	color: #000;
}
.gbgd_nav_link:hover {
	text-decoration: underline;
	color: #44f;
	cursor: pointer;
}

.gbgd_nav_header {
	margin-bottom: 3px;
}
.gbgd_nav_list {
	margin-bottom: 2px;
	font-size: 10px;
	color: #99a;
}


.gbgd_title_c {
	margin-top: 90px;
	margin-bottom: 60px;
}
.list_block {
	margin-bottom: 120px;
	display: block;
}
.list_left, .list_right {
	display: inline-block;
	vertical-align: top;
}
.list_left {
	width: 200px;
	text-align: center;
	margin-right: 20px;
	text-decoration: none;
}
.list_left:hover {
	opacity: 0.9;
}
.list_right {
	width: calc(100% - 280px);
}

.gbgd_title {
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	display: block;
	position: relative;
}
.gbgd_title:hover {
	text-decoration: underline;
	color: #44f;
	cursor: pointer;
}
.gbgd_list_title {
	font-size: 72px;
	font-family: 'Merriweather', serif;
	font-weight: 900;
	width: 75%;
	margin-left: -3px;
    letter-spacing: -1.5px;
    line-height: 1.0;
    margin-bottom: 20px;
}
.gbgd_list_subtitle {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 40px;
	width: 75%;
}
.gbgd_sourcelink {
	text-decoration: none;
	font-weight: 700;
	color: #44f;
}
.gbgd_sourcelink:hover {
	text-decoration: underline;
	cursor: pointer;
}
.gbgd_list_description {
	color: #667;
	margin-bottom: 20px;
	font-size: 14px;
	width: 75%;
	line-height: 1.5;
}
.gbgd_list_updatedlast {
	color: #bbc;
	font-size: 12px;
}

a.gbgd_buyit {
	display: none;
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	background-color: #44f;
	width: 150px;
	padding: 10px 24px;
	border-radius: 100px;
	position: relative;
	top: 10px;
	box-shadow: 0px 4px 10px 0px rgba(16,16,32,0.25)
}
a.gbgd_buyit:hover {
	background-color: #88f;
}
.gbgd_money {
	font-weight: 700;
	font-size: 28px;
	background-color: #44f;
	color: #fff;
	padding: 7px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	top: -30px;
	border: 4px solid #fff;
}
.gbgd_money_sm {
	font-size: 14px;
}
.gbgd_image {
	width: 150px;
	margin: 0 auto;
	box-shadow: 0px 6px 24px 4px rgba(0,0,0,0.2);
}
.gbgd_binding {
	color: #bbc;
	font-size: 12px;
	margin-top: -20px;
}

.gbgd_booktitle {
	font-weight: 900;
	font-family: 'Merriweather', serif;
	font-size: 48px;
	letter-spacing: -1.5px;
	line-height: 1.1;
	margin-bottom: 20px;
	text-decoration: underline;
	color: #000;
}
.gbgd_booktitle:hover {
	color: #44f;
}
.gbgd_bookauthor {
	font-weight: 700;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 16px;
}
.gbgd_vis_c {
	margin-bottom: 20px;
}
.gbgd_vis {
	display: inline-block;
	text-align: left;
	margin-right: 12px;
}
.vis_dot {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 4px;
}
.gbgd_ratings_short {
	color: #BBC;
}
.gbgd_item_stat {
	color: #000;
	font-weight: bold;
}

.gbgd_book_desc {
	font-size: 14px;
	line-height: 1.5;
	color: #667;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;  
	max-height: 108px;
}

.list_block:first-child {
	/*border: 5px solid black;*/
	background-color: #fff;
	padding: 60px 40px 40px 40px;
	position: relative;
	width: 100%;
	left: -45px;
	box-shadow: 0px 30px 60px 10px rgba(0,0,0,0.15);
	margin-bottom: 220px;
	border-radius: 2px;
}
.pick_highlight {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}
.list_block:nth-child(2)::before {
	content: "Other Great Books";
	position: absolute;
	margin-top: -100px;
	font-size: 24px;
	font-weight: 700;
}

.gbgd_tag_c {
	margin-bottom: 22px;
}
.gbgd_tag {
	font-weight: 700;
	padding: 6px 16px;
	border: 2px solid #bbc;
	margin-top: 8px;
	border-radius: 100px;
	display: inline-block;
}
.gbgd_tag.caution {
	color: #ff7500;
	border: 2px solid #ff7500;
}
.gbgd_tag.deal {
	color: #44f;
	border: 2px solid #44f;
}
.gbgd_tag1 {
	background-color: #bbc;
}

.gbgd_endoflist_link {
	margin-bottom: 180px;
}

[v-cloak] {
	display: none;
}